<div class="container justify-content-center">
  <div class="container m-4" style="display: flex; align-items: center;" >
      <img src="https://source.unsplash.com/Fn8f-BYxVQs/500x400" alt="">
        <div class="container d-flex justify-content-center m-4">
          <div class="card justify-content-center" style="width: 50rem; height: 400px;">
            <div class="card-body justify-content-center">
              <h1 class="card-title"><%= @cocktail.name  %></h1>
                <ul>
                  <% @cocktail.doses.each do |dose| %>
                  <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to 'delete', dose_path(dose),
                                method: :delete,
                                data: { confirm: "Are you sure?" }%></li>
                  <% end %>
                  <div class="container">
                    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class:"btn -btn-outline-secondary" %>
                  </div>
                </ul>
            </div>
            <%= link_to "back to list", cocktails_path, class:"btn btn-outline-secondary" %>
          </div>
        <div class="container">
      </div>
    </div>
  </div>
</div>
